.DayPicker {
  width: 100%;
}

.DayPicker-Months {
  width: 100%;
}

.DayPicker-Month {
  width: inherit;
}

.DayPicker-Caption {
  text-align: center !important;
}

/*
.DayPicker-NavButton {
	right: 50% !important;
    margin-top: 5px !important;
    left : 50% !important

}

.DayPicker-NavButton--prev {
	margin-right: 80px !important;
}
.DayPicker-NavButton--next {
	margin-left: 80px !important;
}
 */

.DayPicker-WeekdaysRow {
  background: var(--seventh);
}

.retro .DayPicker-WeekdaysRow {
  background: var(--fourth);
}

.DayPicker-Weekday {
  color: #000 !important;
  padding: 1em !important;
  border: 1px solid #f1f1f1;
  font-style: italic;
  font-weight: 600;
}

.DayPicker-Day {
  padding: 1em 0.5em !important;
  border: 1px solid #f1f1f1;
  border-radius: 15px !important;
  font-style: italic;
}

.DayPicker-Day--today {
  color: inherit !important;
  font-weight: normal !important;
}

.DayPicker-Day--today {
  color: none;
  font-weight: normal !important;
}

.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
  background: var(--first) !important;
}

.retro .DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
  background: var(--first) !important;
}

.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside):hover {
  background-color: var(--first) !important;
}

.retro .DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside):hover {
  background-color: var(--nine) !important;
}

.DayPicker:not(.DayPicker--interactionDisabled)
  .DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):not(.DayPicker-Day--outside):hover {
  background-color: var(--nine) !important;
}

.retro
  .DayPicker:not(.DayPicker--interactionDisabled)
  .DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):not(.DayPicker-Day--outside):hover {
  background-color: var(--nine) !important;
}

.position-relative.form-group:before {
  content: "";
  clear: both;
  position: relative;
}

.retro .DayPickerInput-Overlay,
.retro .DayPicker-Month,
.retro .DayPicker-Caption {
  background: var(--fifth);
}
.YearNavigation .DayPickerInput-Overlay {
  right: 0;
  left: auto;
  z-index: 2;
}
.retro .DayPicker-Month {
  margin: 0 !important;
}

.retro.DayPicker:not(.DayPicker--interactionDisabled)
  .DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):not(.DayPicker-Day--outside):hover {
  background-color: var(--nine) !important;
}

.retro .DayPicker-Weekday {
  color: rgb(0, 0, 0) !important;
  background: #ccc !important;
}
.DayPicker-Months .DayPicker-Month .DayPicker-Caption select {
  color: #000;
}
@media only screen and (max-width: 600px) {
  .DayPicker-wrapper {
    min-width: 500px;
  }

  .DayPicker {
    overflow: auto;
  }

  table.table-selection {
    font-size: 10px;
  }
}

@media only screen and (max-width: 400px) {
  .DayPicker-wrapper {
    min-width: 355px;
  }

  .DayPicker-Day {
    padding: 0.5em !important;
  }
}
