.table-report.logix-services,
.table-report.track-and-time {
  padding: 30px;
  overflow: hidden;
  background: rgb(255, 255, 255);
}

.table-report.logix-services .report-title {
  text-align: center;
  border: transparent;
  padding: 5px 0 20px;
  font-weight: 600;
}

.table-report.logix-services h3.report-title {
  font-weight: 900;
}

.table-report.logix-services .report-parameters {
  font-weight: 600;
  margin-bottom: 20px;
}

.table-report.logix-services .report-parameters .lbl-title {
  text-align: right;
  display: inline-block;
  width: 100px;
  margin-right: 10px;
}

.table-report.logix-services .report-parameters span.parameters-values {
  display: inline-block;
  border-bottom: 2px solid #000;
  width: 30vw;
}

.table-report.logix-services .report-parameters span.parameters-values.small {
  width: 25vw;
}

.table-report.logix-services .report-parameters span.parameters-values.mini {
  width: 15vw;
}

.table-report.logix-services .report-parameters span.parameters-values.micro {
  width: 5vw;
}

.table-report.logix-services table thead tr th {
  border: 2px solid #000;
}

.table-report.logix-services table thead th span.sub-heading,
.table-report.logix-services table tbody td span.sub-heading {
  text-align: right;
  display: block;
  margin-right: 5px;
  font-weight: 600;
}

.table-report.logix-services table tbody,
.table-report.logix-services table thead,
.table-report.track-and-time table thead {
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  border-top: 2px solid #000;
}
.table-report.track-and-time table thead tr th {
  border: 2px solid #000;
}
.table-report.logix-services img {
  margin-left: 15px;
  width: 100px;
}

.table-report.logix-services span.line-long {
  border-bottom: 2px solid #000;
  display: inline-block;
  min-width: 400px;
  min-height: 30px;
  text-align: center;
}
.table-report.logix-services .form-field label,
.table-report.logix-services label,
.table-report.logix-services span.line-long.mini {
  margin-right: 15px;
}
.table-report.logix-services .form-field.right {
  text-align: right;
}
.table-report.logix-services .row.right-new .two-boxes {
  margin-right: 60px;
}
.table-report.logix-services span.line-long.small {
  min-width: 200px;
  font-size: 1rem;
}

.table-report.logix-services span.line-long.mini {
  min-width: 100px;
  float: none;
}
.table-report.logix-services label.top-title {
  font-weight: bold;
}
.table-report.logix-services label {
  font-size: 20px;
}
.table-report.logix-services .two-boxes span {
  border: 2px solid #000;
  display: inline-block;
  height: 40px;
  width: 50%;
  margin: 0;
  padding: 1px 0 0 12px;
  position: absolute;
  top: 0;
  line-height: 35px;
}

/* .two-boxes span:last-child {
  border-right: 2px solid #000;
} */

.table-report.logix-services .two-boxes {
  line-height: 1px;
  position: relative;
  height: 37px;
}
.table-report.logix-services .two-boxes span.first {
  left: 0;
}
.table-report.logix-services .two-boxes span.second {
  right: 4px;
}
.table-report.logix-services span.line-long.long {
  min-width: 100%;
  min-height: 50px;
}
.table-report.logix-services.turn label.title-yn {
  margin: 10px 0 0 21px;
}
/* .lbl-border {
  border-bottom: 2px solid #000;
} */
.table-report.logix-services.turn img {
  width: 100%;
}
.table-report.logix-services.turn label.lbl-border {
  text-decoration: underline;
  font-weight: 600;
}
/* .table-report.logix-services .boxes-right .two-boxes span {
  width: 42px;
}

.table-report.logix-services .boxes-right .two-boxes span.second {
  right: 24px;
}

.table-report.logix-services .boxes-right .two-boxes span.first {
  left: 24px;
} */
.table-report.track-and-time .rpt-title {
  color: #fff;
  font-weight: bold;
  margin: 5px 0;
}
.table-report.track-and-time span.sun-title {
  font-size: 11px;
}
.table-report.track-and-time .title-subs p {
  font-size: 13px;
}

.pd-left-10px { 
  padding-left: 10px;
}