.info-area {
  background: var(--fifth);
  padding: 10px 20px 0 0;
  border-radius: 3px;
  text-align: right;
}

.info-area .info-labels span,
.info-area .info-labels-full span {
  font-style: italic;
  font-size: 14px;
}

.info-area .info-labels label,
.info-area .info-labels-full label {
  font-weight: 600;
  font-size: 14px;
}
ul.list-asset-test li {
  display: block;
  background: var(--fifth);
  margin-bottom: 10px;
  padding: 7px 5px 0px 15px;
  transition: all 0.3s ease-in-out;
  border-radius: 3px;
}
ul.list-asset-test li:hover {
  background: #ffffff87;
}

ul.list-asset-test li span.asset-check-box {
  margin-right: 10px;
  vertical-align: text-bottom;
}
ul.list-asset-test {
  margin: 10px 0 0 0;
  padding: 0 15px;
  overflow: auto;
  height: 60vh;
}
.btn-update-asset button {
  margin: 0 !important;
}
.area-update-asset {
  min-height: 40px;
}
h5.area-update-asset .title-update-asset {
  width: 80%;
  display: inline-block;
}
label.asset-test-name {
  font-size: 14px;
  letter-spacing: 1px;
  width: calc(90% - 360px);
}
span.asset-test-name {
  width: calc(90% - 360px);
  display: inline-block;
}
span.asset-check-box i {
  color: var(--nine);
}
ul.list-asset-test li:hover span.asset-check-box i {
  color: var(--second);
}

ul.list-asset-test.scrollbar li .DayPickerInput {
  width: 360px !important;
  float: right;
  margin-top: -3px;
}
.info-area .asset-title {
  width: 53%;
  font-weight: 600;
  font-size: 14px;
}
.info-area .info-labels {
  display: inline-block;
  width: 22%;
}
.info-area .info-labels-full {
  display: inline-block;
  width: 100%;
}
.info-area label.start-sate.title {
  width: 20%;
  font-weight: 600;
  font-size: 14px;
}
.dropdown-assets {
  text-align: right;
  margin-bottom: 15px;
}

.dropdown-assets select {
  width: 200px !important;
}
label.location-title {
  font-weight: 600;
  font-size: 14px;
}
