/frontend/.idea
/server/.idea
.vscode
/server/package-lock.json
/frontend/package-lock.json
/deployment-utils/node_modules
/setup-utils/node_modules
/.vscode
/server/.vscode
/AndroidApp/SCIMapp/.gradle
/AndroidApp/SCIMapp/.idea
/AndroidApp/SCIMapp/app/build
/AndroidApp/SCIMapp/local.properties
/deployment-utils/fingerlakes
/deployment-utils/iocscim
/deployment-utils/ironorecanadatimps
/deployment-utils/past
/deployment-utils/testdeployment
/deployment-utils/temp
/deployment-utils/brc
/deployment-utils/.vs
/deployment-utils/DeploymentImage
/server/contract.json
/setup-utils/node_modules
/server/.compiled
/deployment-utils/backups
/setup-utils/data
/server/config/database/migrations/patches/sfrta-data
