.dropDownItem:hover {
  background-color: #37668b;
  color: var(--fifth);
}

.dropDownItem {
  background-color: #37668b;
  border-bottom: 2px solid rgb(86, 117, 141);
  color: var(--fifth);
  background-color: #698ca8;
  font-size: 14px;
  cursor: pointer;
}
