.react-draggable {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  background-color: white;
  min-height: 200px !important;
  box-shadow: 0px 0px 6px 2px var(--dark-bg-color);
}
.react-draggable .modal-body .status-info.common-form {
  max-height: 15vh;
}

.react-draggable .modal-header,
.react-draggable .modal-header .modal-title {
  cursor: grab;
}

.modal-dialog.custom-dialog .modal-header {
  background-color: var(--seventh);
}
.modal-dialog.custom-dialog button,
.modal-dialog.custom-dialog .modal-footer button {
  font-size: 14px;
  padding: 5px 30px;
}

.modal-dialog.custom-dialog .modal-body,
.modal-dialog.custom-dialog .modal-footer {
  background-color: rgb(200, 222, 188);
}

.modal-dialog.custom-dialog .modal-body {
  max-height: 70vh;
  overflow-y: auto;
}

.modal-dialog.manage-equipments-dialog {
  min-width: 95%;
}
.table-report.CrossingTestsInspections table {
  width: 100%;
}
