.defect-code .data-row {
  border-top: 1px solid rgb(227, 233, 239);
  border-right: 1px solid rgb(227, 233, 239);
  border-left: 1px solid rgb(227, 233, 239);
  padding: 0px 5px 5px 5px;
}
.defect-code .data-row:nth-child(odd) {
  background: #efefef;
}
.defect-code .data-row:last-child {
  border-bottom: 1px solid rgb(227, 233, 239);
}
.defect-code .data-row div {
  border-right: 1px solid rgb(227, 233, 239);
  min-width: 33%;
  max-width: 100%;
  padding: 3px 0 0 5px;
}
.defect-code .data-row div:last-child {
  border-right: none;
}
.defect-code .data-row.with-chkbox span {
  display: inline-block;
  width: auto;
  margin: 0 18px;
}

.defect-code .data-row.with-chkbox label {
  display: inline-block;
  margin-right: 15px;
}

.defect-code .data-row.with-chkbox label input[type="checkbox"] {
  position: relative;
  margin-right: 5px;
  vertical-align: text-top;
}
.defect-code .data-row label,
.defect-code .data-row span,
.defect-code .data-row strong {
  color: rgb(64, 118, 179);
  font-size: 12px;
  font-family: Arial;
  letter-spacing: 0.3px;
  margin-bottom: 0;
}
.retroModal .defect-code .data-row label,
.retroModal .defect-code .data-row span,
.retroModal .defect-code .data-row strong {
  color: rgb(26, 26, 26);
}

.defect-code .signature-wrapper,
.defect-code .comments-wrapper {
  padding: 0px 5px 5px 5px;
  color: rgb(64, 118, 179);
  font-size: 14px;
  font-family: Arial;
  letter-spacing: 0.3px;
}
.defect-code .signature-wrapper img {
  width: 100%;
  width: 44px;
  margin-left: 20px;
  max-height: 25px;
  min-height: 25px;
}
body {
  counter-reset: worker-counter;
}
.defect-code .defect-code .signature-wrapper::before {
  counter-increment: worker-counter;
  content: counter(worker-counter) ": ";
}
.defect-code .dispaly-area {
  display: block;
  border: 2px solid #ccc;
  min-height: 325px;
}
.dispaly-area img {
  width: 100%;
}
.defect-code span.signarure-caption {
  width: 100%;
  display: block;
  background: #efefef;
  padding: 0px 5px 5px 5px;
  color: rgb(64, 118, 179);
  font-size: 16px;
  font-family: Arial;
  letter-spacing: 0.3px;
  padding: 2px;
}
.retroModal .defect-code span.signarure-caption,
.retroModal .defect-code .signature-wrapper,
.retroModal .defect-code .comments-wrapper {
  color: rgb(26, 26, 26);
}
.signature-wrapper {
  padding: 5px 0 !important;
}
.signature-wrapper .media {
  float: left;
  min-width: 95px;
}
.signature-wrapper .text {
  width: 100%;
}
.signature-wrapper .text label {
  margin: 2px 0;
}
.signature-wrapper:nth-child(even) {
  background: rgb(64, 118, 179);
  color: #fff;
}
.signature-wrapper:nth-child(odd) {
  background: rgb(227, 233, 239);
}
.retroModal .signature-wrapper:nth-child(even) {
  background: #b1b1b1;
  color: rgb(26, 26, 26);
}
.retroModal .signature-wrapper:nth-child(odd) {
  background: rgba(64, 118, 179, 0.3);
  color: rgb(26, 26, 26);
}
