.divStyle {
    display: flex; 
    margin-top: 5px;
    margin-bottom: 5px
}
.labelFieldStyle{
    margin-bottom: 5px;
    font-size: 12px !important; 
    color: hsl(212, 62%, 25%) !important; 
    width: 100%;
    height: 28px;
    padding: 5px;
    background: white;
}
.labelStyle {
    margin-bottom: 5px;
    font-size: 14px; 
    font-weight: bold; 
    color: #183D66 !important; 
    width: 43%
}
.selectStyle {
    color: #183D66 !important;
}
.tableDiv {
    width: 100%;
}
.tableHead {
    background-color: white;
}
.tableBody {
    background-color: White;
    color:black;
}
.th {
    border: 1px solid black;
}
.td {
    color: black !important;
    height: 2px !important;
}
.tr {
    height: 2px !important;
}