.location-prefix-list {
  border-right: 1px solid var(--first);
  padding-bottom: 999999px;
  margin-bottom: -999999px;
}

.loc-parent {
  background-color: #fff;
  color: black;
  font-size: 18px;
  border-bottom: 1px solid var(--first);
  cursor: pointer;
  font-family: Arial;
  font-size: 14px;
  letter-spacing: 0.35px;
  font-weight: 600;
}
.loc-child {
  background: var(--first);
  padding: 4px 2px 2px 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-bottom: 1px solid var(--eleventh);
  font-family: Arial;
  font-size: 14px;
  letter-spacing: 0.35px;
}

.loc-child:hover {
  color: var(--fifth);
}
.location-selection-main table.table tbody tr td,
.location-selection-main table.table tbody tr {
  height: 60px;
  color: #000;
}
.location-selection-main .table .thead-dark th {
  background: var(--fourth);
  color: #000;
  text-align: center;
  border-color: transparent;
}
.location-card {
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 3px;
  border-top: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-left: 10px solid;
}
.location-card span.status-color {
  height: 15px;
  width: 10px;
  display: inline-block;
}
.location-card .card-title {
  font-weight: 600;
}
.option-lists {
  cursor: pointer;
  border-bottom: 1px solid var(--first);
  margin: 2px 4px 2px;
  transition: all 0.3s ease-in-out;
}
.option-lists:hover {
  border-bottom: 3px solid var(--fourth);
  margin: 0px 4px 0px;
}
.location-prefix-list.location-button {
  margin-bottom: 35px;
  padding-bottom: 0;
  position: relative;
}
.location-prefix-list.location-button .loc-parent {
  display: inline-block;
  color: rgb(26, 26, 26);
  border-width: 1px 1px 3px;
  border-style: solid;
  border-color: rgb(216, 216, 216) rgb(216, 216, 216) rgb(216, 216, 216);
  padding: 5px;
  margin-right: 0px;
  min-width: 160px;
  text-align: center;
}
.loc-children {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 35px;
  z-index: 2;
}
.location-prefix-list.location-button .loc-child {
  display: inline-block;
  min-width: 160px;
  text-align: center;
}
.location-prefix-list.location-button .loc-parents {
  display: inline-block;
  position: relative;
}
