.table-report.CrossingTestsInspections,
.table-report.InsulationTestInspection,
.table-report.RelayTestInspection,
.table-report.default {
  background-color: #fff;
  padding: 30px;
}
.table-report.CrossingTestsInspections .border.border-dark.heading,
.table-report.InsulationTestInspection .border.border-dark.heading,
.table-report.RelayTestInspection .border.border-dark.heading,
.table-report.default .border.border-dark.heading {
  padding: 5px;
}
.table-report.CrossingTestsInspections .border.border-dark.heading .heading-info,
.table-report.InsulationTestInspection .border.border-dark.heading .heading-info,
.table-report.RelayTestInspection .border.border-dark.heading .heading-info,
.table-report.default .border.border-dark.heading .heading-info {
  font-size: 20px;
}
.table-report.CrossingTestsInspections .border.border-dark.heading .heading-info strong,
.table-report.InsulationTestInspection .border.border-dark.heading .heading-info strong,
.table-report.RelayTestInspection .border.border-dark.heading .heading-info strong,
.border.border-dark.heading .heading-info strong {
  margin-right: 10px;
}
.table-report.CrossingTestsInspections .info-section,
.table-report.InsulationTestInspection .info-section,
.table-report.RelayTestInspection .info-section {
  font-family: auto;
  font-weight: 600;
  font-size: 14px;
}
.table-report.CrossingTestsInspections .info-heading strong,
.table-report.InsulationTestInspection .info-heading strong,
.table-report.RelayTestInspection .info-heading strong {
  margin-top: 15px;
  display: block;
  text-decoration: underline;
}
.table-report.CrossingTestsInspections .info-note strong {
  display: block;
  padding: 0 20px;
  font-size: 20px;
}
.table-report.CrossingTestsInspections .section-title {
  text-align: right;
  font-size: 18px;
  font-weight: 600;
}

.table-report.CrossingTestsInspections .label-text {
  font-size: 18px;
  font-weight: 600;
  width: 92%;
  vertical-align: top;
  display: inline-block;
}

.table-report.CrossingTestsInspections .value-box {
  border: 1px solid #000;
  width: 40px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  min-height: 30px;
}

.table-report.CrossingTestsInspections .section-heading {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  width: 100%;
  background-color: #dbdbdb59;
}
.table-report.CrossingTestsInspections .box-title {
  text-align: center;
  text-decoration-line: underline;
  font-weight: 600;
}
.table-report.CrossingTestsInspections .comments-text.info-section {
  width: 100%;
  font-weight: 500;
  margin: 5px 10px;
  min-height: 5px;
  font-size: 20px;
  font-style: italic;
}
.table-report.CrossingTestsInspections hr {
  border-color: #000;
  display: block;
  width: 100%;
}
.table-report.CrossingTestsInspections .border.border-dark.col-md-6 {
  text-align: center;
  font-weight: 600;
  font-size: 18px;
}
.table-report.CrossingTestsInspections table.crossing-tests td {
  border: none !important;
  color: #000;
  height: auto;
  font-size: initial;
}
.table-report.CrossingTestsInspections table.crossing-tests tr {
  height: auto;
}
.table-report.CrossingTestsInspections table.crossing-tests tr th,
.table-report.CrossingTestsInspections table.TimingRelay tr th {
  font-size: initial;
}
.table-report.InsulationTestInspection table.table.table-bordered.table-striped thead tr th,
.table-report.RelayTestInspection table.table.table-bordered thead tr th {
  border: 1px solid #000;
}
.table-report.InsulationTestInspection table.table.table-bordered.table-striped tbody tr,
.table-report.RelayTestInspection table.table.table-bordered tbody tr {
  height: auto;
}
.table-report.InsulationTestInspection table.table.table-bordered.table-striped tbody tr td,
.table-report.RelayTestInspection table.table.table-bordered tbody tr td {
  text-align: left;
  color: #000;
  height: auto;
  font-size: 18px;
  height: 80px;
}
.table-report.InsulationTestInspection table.table.table-bordered.table-striped tbody tr:nth-child(4n + 1),
.table-report.InsulationTestInspection table.table.table-bordered.table-striped tbody tr:nth-child(4n + 2) {
  background-color: #dbdbdb59;
}
.table-report.InsulationTestInspection table.table.table-bordered.table-striped tbody tr:nth-child(4n + 3) {
  background-color: #fff;
}
.table-report.RelayTestInspection table.table.table-bordered tbody tr {
  background-color: #dbdbdb59;
}
.table-report.RelayTestInspection table.table.table-bordered tbody tr:nth-child(6n + 1),
.table-report.RelayTestInspection table.table.table-bordered tbody tr:nth-child(6n + 2),
.table-report.RelayTestInspection table.table.table-bordered tbody tr:nth-child(6n + 3) {
  background-color: #fff;
}
.table-report.RelayTestInspection table.table.table-bordered tbody tr:nth-child(3n) {
  border-bottom: 20px ridge rgb(139, 196, 63);
}
.table-report.RelayTestInspection .border.border-dark.heading,
.table-report.CrossingTestsInspections .border.border-dark.heading,
.table-report.InsulationTestInspection .border.border-dark.heading {
  background-color: #dbdbdb59;
}
.table-report.CrossingTestsInspections .crossing-tests tbody tr:nth-child(odd),
table.TimingRelay tbody:nth-child(even) tr {
  background-color: #dbdbdb59;
}
.table.TimingRelay tbody td,
.table.TimingRelay tbody tr {
  height: auto;
  color: #000;
  font-size: initial;
}
.table-report.InsulationTestInspection table.table.table-bordered.table-striped thead tr,
.table-report.RelayTestInspection .table.table-bordered thead tr {
  background-color: #dbdbdb59;
  border-bottom: 9px solid rgb(139, 196, 63);
}
