.gis-nav {
  position: absolute;
  top: 22px;
  z-index: 99;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  background-color: var(--first);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 15px 8px 15px 15px;
  margin-top: 10px;
  min-height: 300px;
}
.retro .gis-nav,
.retro .gis-nav .button,
.retro .asset-detail button {
  background-color: var(--ten);
}
.gis-nav .button {
  display: inline-block;
  left: -45px;
  vertical-align: top;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  text-orientation: upright;
  position: relative;
  background-color: var(--first);
  color: var(--fifth);
  font-size: 17px;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 16px 10px;
  top: 88px;
  font-weight: 700;
  text-transform: capitalize;
  position: absolute;
}

.gis-nav div {
  display: inline-block;
}
.gis-nav .col-md-1 {
  display: none;
}
.gis-nav .button span {
  display: inline-block;
  margin-bottom: 10px;
}
.gis-nav.one {
  top: 0%;
  background: rgb(255, 255, 255);
  height: 100%;
}
.gis-nav.one .button {
  top: 50%;
  background: var(--eleventh);
  color: var(--first);
  border-top: 1px solid var(--first);
  border-bottom: 1px solid var(--first);
  border-left: 1px solid var(--first);
}
.asset-detail {
  background: var(--fifth);
  width: 100%;
  height: auto;
  border-radius: 4px;
  color: var(--first);
  font-size: 12px;
  font-family: Arial;
  letter-spacing: 0.3px;
  padding: 15px;
  margin: 0;
}
.gis-nav.one .media {
  width: 400px;
  margin: -15px -15px 15px -15px;
  display: inherit;
}
.gis-nav.one .media img {
  width: 100%;
}
.asset-detail ul {
  padding: 0;
}
.asset-detail li {
  list-style: none;
}
.asset-detail li .heading {
  font-weight: bold;
  width: 35%;
}
.asset-detail li .detail {
  font-weight: normal;
  margin-left: 15px;
}
.asset-detail button {
  height: 30px;
  width: 160px;
  margin-bottom: 20px;
  background-color: var(--first);
  border: 1px solid #e3e9ef;
  color: var(--fifth);
  font-size: 12px;
  cursor: pointer;
  border-radius: 4px;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.asset-detail button:hover,
.asset-detail button:focus,
.asset-detail button:active {
  background-color: rgba(55, 139, 119, 0.6);
  border-color: var(--first);
}
h4.detail.heading {
  text-transform: capitalize;
  width: 100%;
  border-bottom: 1px solid #ccc;
  margin-left: 0;
}
@media only screen and (max-width: 768px) {
  .modal-track-setup {
    padding: 1rem 0 !important;
    overflow: hidden !important;
  }
}