/* The grid: Four equal columns that floats next to each other */
.colsIssueImgs {
  float: left;
  width: 25%;
  transition-duration: 0.4s;
  background-color: inherit;
  margin: 0px 2px 0px 2px;
}

/* Style the images inside the grid */
.colsIssueImgs img {
  opacity: 0.8;
  cursor: pointer;
  max-width: 100%;
  max-height: 100%;
}

.colsIssueImgs img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.rowsOfImgs:after {
  content: "";
  display: table;
  clear: both;
}

.fullWidth {
  width: 100%;
  font-size: 14px;
  color: rgba(64, 118, 179);
}

.icon-tools {
  position: absolute;
  top: 17px;
  right: 10px;
}
.icon-tools button {
  margin-right: 10px;
  background: rgb(64, 118, 179);
  color: #fff;
  padding: 5px 5px;
  border-radius: 5px;
  height: 28px;
  border: none;
  cursor: pointer;
}
