.table-report.electric-utility {
  padding: 30px;
  overflow: hidden;
  background: rgb(255, 255, 255);
}
.table-report.electric-utility table thead tr th {
  border-right: 1px solid #ccc;
}
.table-report.electric-utility table thead tr:nth-child(3) th {
  border-bottom: 1px solid #ccc;
}
.table-report.electric-utility table thead tr:nth-child(2) th {
  border: 2px solid black !important;
}
.table-report.electric-utility table tbody td.blank {
  background-color: #ffff99;
  border: 2px solid black !important;
  height: 28px !important;
  font-weight: 600;
}
.table-report.electric-utility table thead th span.sub-heading,
.table-report.electric-utility table tbody td span.sub-heading {
  text-align: right;
  display: block;
  margin-right: 5px;
  font-weight: 600;
}
.table-report.electric-utility table tbody td h6 {
  font-size: 18px;
  font-weight: 600;
  text-align: left;
  margin: 0 0 0 5px;
}
.table-report.electric-utility table td {
  border: 1px solid #ccc !important;
  height: 28px;
}
.table-report.electric-utility table td:nth-child(3n + 1),
.table-report.electric-utility table th:nth-child(3n + 1),
.table-report.electric-utility.facility-insp-form table td {
  border-right: 2px solid #000 !important;
}
.table-report.electric-utility table tr.new-block {
  border-top: 2px solid #000;
}
.table-report.electric-utility table tbody,
.table-report.electric-utility table thead {
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  border-top: 2px solid #000;
}
/*****************************************************************************level-4*/
.table-report.electric-utility.level-4 table td,
.table-report.electric-utility.level-4 table th {
  border-right: 1px solid #ccc !important;
}
.table-report.electric-utility.level-4 table td:nth-child(2n + 1),
.table-report.electric-utility.level-4 table th:nth-child(2n + 1) {
  border-right: 2px solid #000 !important;
}
.table-report.electric-utility.level-4 table tbody td span.sub-heading {
  text-align: left;
  margin-left: 20px;
  font-weight: 300;
}
/*****************************************************************************Summary*/
.table-report.electric-utility.summary table td,
.table-report.electric-utility.summary table th,
.table-report.electric-utility.energized-objects table td,
.table-report.electric-utility.energized-objects table th,
.table-report.electric-utility.shock-reports table td {
  border-right: 2px solid #000 !important;
}
.table-report.electric-utility.summary table thead th {
  min-height: 80px;
  background-color: #ffff99;
}
/**********************************************************************energized-objects*/
.table-report.electric-utility.energized-objects table tbody tr.new-block,
.table-report.electric-utility.shock-reports table tbody tr.new-block {
  background-color: #ffff99;
}
.table-report.electric-utility.energized-objects table tbody td span.sub-heading {
  font-weight: 300;
}
/********************************************************************shock-reports*/
.table-report.electric-utility.shock-reports table tbody td span.sub-heading {
  text-align: left;
  margin-left: 20px;
}
/*************************************************************Inspection Summary-reports*/
.table-report.electric-utility.inspection.summary table thead th {
  background-color: var(--fifth);
}
.table-report.electric-utility.inspection.summary table tbody tr:nth-child(even) {
  background-color: #ccffcc;
}
/*************************************************************Facility Inspection Form*/
.table-report.electric-utility.facility-insp-form table thead tr th.no-borders {
  border-right: none !important;
  border-left: none !important;
}
.table-report.electric-utility.facility-insp-form table thead tr th.no-borders span.tilted-title {
  /* border-top: 2px solid #000; */
  border-bottom: 2px solid #000;
  -webkit-transform: translate(140px, -84px) rotate(298deg);
  -ms-transform: translate(140px, -84px) rotate(298deg);
  transform: translate(96px, -58px) rotate(298deg);
  display: inline-block;
  vertical-align: text-bottom;
  position: absolute;
  bottom: 0;
  width: 160px;
  right: 0;
  /* height: 100%; */
  line-height: 47px;
}
.table-report.electric-utility.facility-insp-form table thead tr th {
  position: relative;
  height: 72px;
}
.table-report.electric-utility.facility-insp-form table thead tr th span.misplaced-title {
  display: inline-block;
  position: relative;
  vertical-align: baseline;
  text-align: right;
  width: 100%;
}
.table-report.electric-utility.facility-insp-form table thead tr th.no-borders.border-bottom-none {
  border-bottom: none !important;
}
.table-report.electric-utility.facility-insp-form table thead tr th.no-borders span.tilted-title.border-top {
  border-top: none !important;
}
.table-report.electric-utility.facility-insp-form table thead tr th.no-borders span.tilted-title.border-top:after {
  content: "";
  background: #000;
  height: 2px;
  width: 100%;
  position: absolute;
  top: 0;
  left: -26px;
}
.table-report.electric-utility.facility-insp-form table thead tr td,
.table-report.electric-utility.facility-insp-form table thead tr td h5 {
  border: none !important;
}
