.styled-chk-box input[type="checkbox"] + label {
  position: absolute;
  width: 15px;
  height: 15px;
  border: 3px solid #555;
  top: 50%;
  left: 50%;
  cursor: pointer;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: all ease-out 200ms;
  text-indent: 50px;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 10px;
}
.styled-chk-box input[type="checkbox"] + label:after {
  content: "";
  position: absolute;
  width: 0px;
  height: 8px;
  border-bottom: 3px solid #fff;
  border-left: 3px solid #fff;
  top: 33%;
  left: 42%;
  -webkit-transform-origin: bottom left;
  transform-origin: bottom left;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  opacity: 0;
  transition: all ease-out 200ms;
}

.styled-chk-box input[type="checkbox"]:checked + label {
  border: 1px solid var(--first);
  background: var(--first);
}
.styled-chk-box input[type="checkbox"]:checked + label:after {
  opacity: 1;
  width: 12px;
}

.styled-chk-box .chk {
  display: none;
}
