.div {
   margin-bottom: 5px; 
   font-size: 14px;
   font-weight: bold;
    color: #183D66 !important;
}

.labelStyle {
     margin-bottom: 5px; font-size: 14px; font-weight: bold; color: #183D66 !important; width: 45%;
}
.labelFieldsStyle{
     margin-bottom: 5px;
     font-size: 12px !important; 
     width: 100%;
     padding: 5px;
     color: red !important; 
     margin-left: 20px; 
     font-family: sans-serif;
     background: white;
 }