:root {
  --first: rgba(64, 118, 179, 0.5); /* #ffff sidebar BorderColor*/
  --second: rgb(24, 61, 102); /*Text Color, Hover Color*/
  --third: rgba(24, 61, 102); /*Icon Colors*/
  --fourth: #ededed; /*second Color for Buttons and Table Headings*/
  --fifth: rgb(255, 255, 255); /*Sidebar background color*/ /*;#9ABFEA;*/
  --sixth: #4076b3; /*Top Bar Background*/
  --seventh: rgb(235, 235, 235); /*Table cell Color*/
  --eight: rgb(255, 140, 73); /*Calender number Color*/
  --nine: rgba(40, 61, 104, 0.3); /*Calender background Color*/
  --ten: rgb(102, 102, 102); /*Calender Line Color**/
  --eleventh: rgb(227, 233, 239);
  --twelve: rgb(64 118 179);
}
