:root {
  --first: rgb(139, 196, 63); /*Link and Hover background as well as BorderColor*/
  --second: rgb(26, 26, 26); /*Text Color*/
  --third: rgb(77, 77, 77); /*Icon Colors*/
  --fourth: #b1b1b1; /*second Color for Buttons and Table Headings*/
  --fifth: #fff; /*Sidebar background color*/
  --sixth: rgb(27, 20, 100); /*Top Bar Background*/
  --seventh: rgb(177, 177, 177); /*Table cell Color*/
  --eight: rgb(0, 113, 186); /*Calender number Color*/
  --nine: rgb(200, 222, 188); /*rgba(138,196,63,.3); Calender background Color*/
  --ten: rgb(102, 102, 102); /*Calender Line Color*/
  --eleventh: rgb(227, 233, 239);
  --twelve: rgb(139, 196, 63);
}
