.app-form-main,
.location-selection-main {
  background-color: #fff;
  min-height: 92vh;
  padding: 15px 30px;
  overflow: hidden;
}
.app-form-main ul.app-form-add {
  padding: 10px 0px 10px 10px;
  background: var(--eleventh);
  border-radius: 3px;
  width: 80%;
  display: inline-block;
}
.app-form-main ul.app-form-add li {
  display: inline-block;
  margin: 0 5px;
  text-transform: capitalize;
  cursor: pointer;
  background-color: var(--fourth);
  padding: 3px 15px;
  border-radius: 4px;
  color: var(--fifth);
  border: 2px solid var(--gray-dark);
  font-size: 12px;
  transition: all 0.3s ease-in-out;
}
.app-form-main .app-form-list div {
  display: block;
  margin: 0 5px;
  text-transform: capitalize;
  cursor: pointer;
  background-color: var(--fourth);
  padding: 3px 15px;
  border-radius: 4px;
  color: var(--fifth);
  border: 2px solid var(--gray-dark);
  font-size: 12px;
}
.app-form-main .app-form-list div.active {
  background-color: var(--first);
}
.app-form-main ul.app-form-add li:hover {
  background: var(--first);
  box-shadow: 0px 0px 5px 0px var(--fourth);
  -webkit-box-shadow: 0px 0px 5px 0px var(--fourth);
  -moz-box-shadow: 0px 0px 5px 0px var(--fourth);
}
.app-form-main .app-form-list div {
  margin-bottom: 10px;
  transition: all 0.3s ease-in-out;
}
.app-form-main .app-form-list div:hover {
  background-color: var(--first);
  color: var(--sixth);
}
.app-form-main .app-form-row {
  cursor: pointer;
  padding: 5px 10px 5px 10px;
  border-radius: 3px;
}
.app-form-main .app-form-row.active {
  background-color: var(--eleventh);
  border-radius: 3px;
  padding: 5px 10px 5px 10px;
}
.app-form-main .app-form-row .app-form-pills {
  background-color: var(--first);
  border-radius: 20px;
  padding: 2px 8px;
  margin-right: 10px;
}
.app-form-main .app-form-row .app-form-row {
  margin-bottom: 5px;
}
.app-form-main .app-form-row span.app-form-name {
  margin-right: 5px;
}
.app-form-props {
  /* padding: 10px 0px 10px 10px; */
  background: var(--eleventh);
  border-radius: 3px;
  margin-bottom: 5px;
}

.app-form-props .lbl-style {
  padding-right: 10px;
  padding-left: 10px;
}
.app-form-props .field:first-child {
  padding-top: 10px;
}

.customerAction {
  margin-left: 10px;
  cursor: pointer;
  float: right;
}
.app-form-list-header,
.app-form-editor-header,
.app-form-properties-header,
.location-prefix-list-header,
.location-prefix-header {
  padding: 10px 0px 10px 10px;
  background: var(--eleventh);
  border-radius: 3px;
  margin-bottom: 10px;
  min-height: 44px;
}

.app-form-list-header h5 span {
  float: right;
  margin-right: 10px;
  cursor: pointer;
  height: 28px;
  width: 25px;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
.app-form-list-header h5 span:hover {
  color: var(--first);
}

.app-form-list-header h5,
.app-form-editor-header h5,
.app-form-properties-header h5,
.location-prefix-list-header h5,
.location-prefix-header h5 {
  margin: 0;
}
.app-form-list {
  border-right: 2px solid var(--first);
  margin-bottom: -99999999px;
  padding-bottom: 99999999px;
}
ul.app-form-editor-controls,
ul.app-form-controls {
  margin: 0;
  float: right;
  padding: 0;
  margin-right: 10px;
}

ul.app-form-editor-controls li,
ul.app-form-controls li {
  display: inline-block;
  cursor: pointer;
  height: 26px;
  width: 25px;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
ul.app-form-editor-controls li:hover,
ul.app-form-controls li:hover {
  color: var(--first);
}
ul.app-form-controls {
  padding: 10px 10px 10px 10px;
  background: var(--eleventh);
  border-radius: 3px;
  display: inline-block;
  width: 19%;
  text-align: right;
  overflow: hidden;
}
.field-style label {
  min-width: 20%;
  text-transform: capitalize;
}
span.add-new-field {
  display: inline-block;
  float: right;
  margin-right: 15px;
}

ul.list-of-options {
  list-style-type: none;
  counter-reset: css-counter 0;
  padding-bottom: 10px;
}
ul.list-of-options li {
  width: 90%;
  position: relative;
  display: inline-block;
  counter-increment: css-counter 1;
}

ul.list-of-options li:before {
  content: counter(css-counter) ". ";
}
.app-form-props .app-form-properties-header {
  border-bottom: 10px solid #fff;
}
.input-file {
  display: inline-block;
  width: 40px;
  height: 40px;
  position: relative;
  margin-left: 2px;
}

.input-file input {
  cursor: pointer;
  width: 40px;
  color: transparent;
  background: transparent;
}

.input-file i {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  background: var(--eleventh);
  width: 34px;
  height: 38px;
  padding-top: 3px;
  cursor: pointer;
}

.location-selection-main.site .location-prefix-list.location-button .loc-parents {
  display: block;
}

.location-selection-main.site .location-prefix-list.location-button .loc-parent {
  width: 95%;
}
.location-selection-main.site .location-prefix-list.location-button .loc-children {
  position: relative;
  top: 0;
  width: 100%;
}
.location-selection-main.site .location-prefix-list.location-button .loc-children:empty {
  height: 0;
  width: 0;
}
.location-selection-main.site .location-prefix-list.location-button .loc-child {
  width: 95%;
}
